<!DOCTYPE html>
<html>
<head>
    <title>Book Manager</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <h1>Books</h1>
    <div><button id="showCreateButton" onclick="showCreate()">Create</button></div>
    <div>
        <table class="table" id="bookTable">
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Author</th>
                <th>Price</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </table>
    </div>
</body>
</html>
